{% load static %}
<!-- Desktop Header Start -->
<div id="main-navbar" class="navbar is-inline-flex is-transparent no-shadow is-hidden-mobile">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a href="{% url 'home' %}" class="navbar-item">
                <img src="{% static 'assets/images/logo/friendkit.svg' %}" width="112" height="28" alt="">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- Navbar Search -->
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link is-primary is-friends" href="javascript:void(0);">
                        <i data-feather="heart"></i>
                        <span class="indicator"></span>
                    </a>

                    <div class="nav-drop">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span>Last Voted Products</span>
                                <!--<a href="#">Find Friends</a>-->
                            </div>
                            <!-- Voted Product -->
                            {% if user.is_authenticated %}
                            <div class="nav-drop-body is-friend-requests">
                                {% for item in products %}
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="{{item.icon.url}}" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <a href="{% url 'product-detail' item.slug %}">{{item.title}}</a>
                                        <span>{{item.summary_desc}}</span>
                                    </div>
                                    <!--<div class="media-right">
                                        <button class="button icon-button is-solid grey-button raised">
                                            <i data-feather="user-plus"></i>
                                        </button>
                                    </div>-->
                                </div>
                                {% endfor %}
                                {% if userlike_count > 5 %}
                                <div class="nav-drop-footer">
                                    <a href="#">Show All</a>
                                </div>
                                {% endif %}
                                {% if userlike_count == 0 %}
                                <div class="nav-drop-footer">
                                    <a href="{% url 'home' %}">You haven't liked any product</a>
                                </div>
                                {% endif %}
                            </div>
                            {% else %}
                            <div class="nav-drop-body is-friend-requests">
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="log-in"></i>
                                    </div>
                                    <div class="media-content" style="padding-left:20px;">
                                        <a href="{% url 'login' %}">Log In</a>
                                        <span>Start to like Products</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="at-sign"></i>
                                    </div>
                                    <div class="media-content" style="padding-left:20px;">
                                        <a href="{% url 'signup' %}">Sign Up!</a>
                                        <span>Join our website now!</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link" href="javascript:void(0);">
                        <i data-feather="bell"></i>
                        <span class="indicator"></span>
                    </a>

                    <div class="nav-drop">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span>Notifications</span>
                                <!--<a href="#">View All</a>-->
                            </div>
                            <!-- Notification -->
                            {% if user.is_authenticated %}
                            <!--<div class="nav-drop-body is-notifications">
                                
                                <div class="media">
                                    <figure class="media-left">
                                        <p class="image">
                                            <img src="https://via.placeholder.com/300x300"
                                                data-demo-src="assets/images/avatars/david.jpg" alt="">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <span><a href="#">David Kim</a> commented on <a href="#">your
                                                post</a>.</span>
                                        <span class="time">30 minutes ago</span>
                                    </div>
                                    <div class="media-right">
                                        <div class="added-icon">
                                            <i data-feather="message-square"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="nav-drop-footer">
                                    <a href="#">Clear All</a>
                                </div>-->
                            <div class="nav-drop-footer">
                                <a>You don't have any notification</a>
                            </div>
                            {% else %}
                            <div class="nav-drop-body is-notifications">
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="log-in"></i>
                                    </div>
                                    <div class="media-content" style="padding-left:20px;">
                                        <a href="{% url 'login' %}">Log In</a>
                                        <span>Login to see your notifications</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="icon-wrap">
                                        <i data-feather="at-sign"></i>
                                    </div>
                                    <div class="media-content" style="padding-left:20px;">
                                        <a href="{% url 'signup' %}">Sign Up!</a>
                                        <span>Join our website now!</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="navbar-item is-icon drop-trigger">
                    <a class="icon-link" href="#" title="Your Products">
                        <i data-feather="cast"></i>
                        <span class="indicator"></span>
                    </a>
                </div>

                <div id="explorer-trigger" class="navbar-item is-icon">
                    <a class="icon-link is-primary" href="{% url 'categories' %}" title="Categories"
                        id="categories_link">
                        <i class="mdi mdi-apps"></i>
                    </a>
                </div>
            </div>

            <div class="navbar-end">

                <div class="navbar-item">
                    <div id="global-search" class="control">
                        <input id="tipue_drop_input" class="input is-rounded" type="text" placeholder="Search" required>
                        <span id="clear-search" class="reset-search">
                            <i data-feather="x"></i>
                        </span>
                        <span class="search-icon">
                            <i data-feather="search"></i>
                        </span>
                        <span class="drop-icon">
                            <i data-feather="more-vertical"></i>
                        </span>
                        <div id="tipue_drop_content"></div>
                    </div>

                </div>
                {% if user.is_authenticated %}
                <div id="account-dropdown" class="navbar-item is-account drop-trigger has-caret">
                    <div class="user-image">
                        {% if not user.avatar  %}
                        <img src="{% static 'assets/images/person-male.png' %}" alt="Profile Image">
                        {% else %}
                        <img src="{{ user.avatar.url }}" alt="Profile Image">
                        {% endif %}
                        <span class="indicator"></span>
                    </div>

                    <div class="nav-drop is-account-dropdown">
                        <div class="inner">
                            <div class="nav-drop-header">
                                <span class="username">{{user.username}}</span>
                                <!-- <a href="#">Profile</a>-->
                            </div>
                            <div class="nav-drop-body account-items">
                                <a href="{% url 'create' %}" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="plus"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Add Product</h3>
                                            <small>Add your product.</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="settings"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Settings</h3>
                                            <small>Change your informations.</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="life-buoy"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Contact Us</h3>
                                            <small>Contact our support.</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="{% url 'logout' %}" class="account-item">
                                    <div class="media">
                                        <div class="icon-wrap">
                                            <i data-feather="power"></i>
                                        </div>
                                        <div class="media-content">
                                            <h3>Log out</h3>
                                            <small>Log out from your account.</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                {% else %}
                <div class="navbar-item">
                    <div class="navbar-item">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <a id="signup-button" href="{% url 'signup' %}" class="button is-cta is-solid accent-button raised">
                        Sign Up
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
<!-- Desktop Header Finished -->
<!-- Mobile Header Start -->
<nav class="navbar mobile-navbar is-hidden-desktop" aria-label="main navigation">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{% static 'assets/images/logo/friendkit.svg' %}" alt="">
        </a>

        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link is-primary is-friends" href="javascript:void(0);">
                <i data-feather="heart"></i>
                <span class="indicator"></span>
            </a>

            <div class="nav-drop">
                <div class="inner">
                    <div class="nav-drop-header">
                        <span>Voted Products</span>
                        <!-- <a href="#">Find Friends</a>-->
                    </div>
                    <!-- Voted Product -->
                    {% if user.is_authenticated %}
                    <div class="nav-drop-body is-friend-requests">
                        {% for item in products %}
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="{{item.icon.url}}" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <a href="#">{{item.title}}</a>
                                <span>{{item.website}}</span>
                            </div>
                            <div class="media-right">
                                <button class="button icon-button is-solid grey-button raised">
                                    <i data-feather="user-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% if userlike_count > 5 %}
                        <div class="nav-drop-footer">
                            <a href="#">Show All</a>
                        </div>
                        {% endif %}
                        {% if userlike_count == 0 %}
                        <div class="nav-drop-footer">
                            <a href="{% url 'home' %}">You haven't liked any product</a>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="nav-drop-body is-friend-requests">
                        <div class="media">
                            <div class="icon-wrap">
                                <i data-feather="log-in"></i>
                            </div>
                            <div class="media-content" style="padding-left:20px;">
                                <a href="{% url 'login' %}">Log In</a>
                                <span>Start to like Products</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="icon-wrap">
                                <i data-feather="at-sign"></i>
                            </div>
                            <div class="media-content" style="padding-left:20px;">
                                <a href="{% url 'signup' %}">Sign Up!</a>
                                <span>Join our website now!</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link" href="javascript:void(0);">
                <i data-feather="bell"></i>
                <span class="indicator"></span>
            </a>

            <div class="nav-drop">
                <div class="inner">
                    <div class="nav-drop-header">
                        <span>Notifications</span>
                        <!--<a href="#">View All</a>-->
                    </div>
                    <!-- Notification -->
                    {% if user.is_authenticated %}
                    <!--<div class="nav-drop-body is-notifications">
                        
                        <div class="media">
                            <figure class="media-left">
                                <p class="image">
                                    <img src="https://via.placeholder.com/300x300"
                                        data-demo-src="assets/images/avatars/david.jpg" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <span><a href="#">David Kim</a> commented on <a href="#">your
                                        post</a>.</span>
                                <span class="time">30 minutes ago</span>
                            </div>
                            <div class="media-right">
                                <div class="added-icon">
                                    <i data-feather="message-square"></i>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="nav-drop-footer">
                                    <a href="#">Clear All</a>
                                </div>-->
                    <div class="nav-drop-footer">
                        <a>You don't have any notification</a>
                    </div>
                    {% else %}
                    <div class="nav-drop-body is-notifications">
                        <div class="media">
                            <div class="icon-wrap">
                                <i data-feather="log-in"></i>
                            </div>
                            <div class="media-content" style="padding-left:20px;">
                                <a href="{% url 'login' %}">Log In</a>
                                <span>Login to see your notifications</span>
                            </div>
                        </div>
                        <div class="media">
                            <div class="icon-wrap">
                                <i data-feather="at-sign"></i>
                            </div>
                            <div class="media-content" style="padding-left:20px;">
                                <a href="{% url 'signup' %}">Sign Up!</a>
                                <span>Join our website now!</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="navbar-item is-icon drop-trigger">
            <a class="icon-link" href="#" title="Your Products">
                <i data-feather="cast"></i>
                <span class="indicator"></span>
            </a>
        </div>

        <div id="explorer-trigger" class="navbar-item is-icon">
            <a href="{% url 'categories' %}" class="icon-link is-primary" href="#" title="Categories">
                <i class="mdi mdi-apps"></i>
            </a>
        </div>


        <!-- Mobile menu toggler icon -->
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Navbar mobile menu -->
    <div class="navbar-menu">
        <!-- Account -->
        {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-active">
            <div class="navbar-link">
                {% if not user.avatar  %}
                <img src="{% static 'assets/images/person-male.png' %}" alt="Profile Image">
                {% else %}
                <img src="{{ user.avatar.url }}" alt="Profile Image">
                {% endif %}
                <span class="is-heading">{{user.username}}</span>
            </div>

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="{% url 'create' %}" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="plus"></i>Add Product</span>
                    <!--<span class="menu-badge">87</span>-->
                </a>
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="user"></i>Settings</span>
                </a>
                <a href="{% url 'logout' %}" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="power"></i>Logout</span>
                </a>
            </div>
        </div>
        {% else %}
        <div class="navbar-item has-dropdown is-active">

            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="{% url 'login' %}" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="user"></i>Login</span>
                </a>
                <a href="{% url 'signup' %}" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="user-plus"></i>Signup</span>
                    <!--<span class="menu-badge">87</span>-->
                </a>
            </div>
        </div>
        {% endif %}
        <!-- More -->

        <div class="navbar-item has-dropdown">
            <hr class="account-divider">
            <!-- Mobile Dropdown -->
            <div class="navbar-dropdown">
                <a href="#" class="navbar-item is-flex is-mobile-icon">
                    <span><i data-feather="life-buoy"></i>Contact Us</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Mobile Header Finished -->