{% extends 'login_base.html'%}
{% load staticfiles %}
{% block content %}
<!-- Main Wrapper -->
<div class="login-wrapper columns is-gapless">
    <!--Left Side (Desktop Only)-->
    <div class="column is-6 is-hidden-mobile hero-banner">
        <div class="hero is-fullheight is-login">
            <div class="hero-body">
                <div class="container">
                    <div class="left-caption">
                        <h2>Reset Your Password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Right Side-->
    <div class="column is-6">
        <div class="hero form-hero is-fullheight">
            <!--Logo-->
            <div class="logo-wrap">
                <div class="wrap-inner">
                    <img src="{% static 'assets/images/logo/friendkit-white.svg' %}" alt="">
                </div>
            </div>
            <!--Login Form-->
            <div class="hero-body">
                <div class="form-wrapper">
                    <!--Avatar-->

                    <div class="login-form">
                        <div class="field">
                            <div class="control">
                                <h2>Password changed with success!</h2>
                                <p>You may now <a href="{% url 'login' %}">log in</a> again.</p>
                            </div>
                        </div>
                        <div class="section forgot-password">
                            <div class="has-text-centered">
                                <a href="{% url 'signup' %}">Sign Up</a> / <a href="{% url 'login' %}">Login</a> / <a
                                    href="{% url 'home' %}">Go To HomePage</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}