<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load socialaccount %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{{page_title}}</title>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/images/favicon.png' %}"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/css/materialdesignicons.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/css/webfont.css' %}" rel="stylesheet" />
    <!-- Core CSS -->
    <link href="{% static 'assets/css/bulma.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/core.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="app-overlay"></div>
    {% load nav_tags %}{% show_navigation %}
    <div class="view-wrapper">
      {% block content %}test{% endblock %}
    </div>
    <!-- Concatenated js plugins and jQuery -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- Core js -->
    <script src="{% static 'assets/data/tipuedrop_content.js' %}"></script>
    <script src="{% static 'assets/js/global.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <!-- Page and UI related js -->
    <script src="{% static 'assets/js/feed.js' %}"></script>
    <script src="{% static 'assets/js/chat.js' %}"></script>
    <script src="{% static 'assets/js/inbox.js' %}"></script>
    <script src="{% static 'assets/js/profile.js' %}"></script>
    <script src="{% static 'assets/js/friends.js' %}"></script>
    <script src="{% static 'assets/js/events.js' %}"></script>
    <script src="{% static 'assets/js/explorer.js' %}"></script>
    <script src="{% static 'assets/js/news.js' %}"></script>
    <script src="{% static 'assets/js/questions.js' %}"></script>
    <script src="{% static 'assets/js/videos.js' %}"></script>
    <!-- Components js -->
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/autocompletes.js' %}"></script>
    <script src="{% static 'assets/js/modal-uploader.js' %}"></script>
    <script src="{% static 'assets/js/popovers-users.js' %}"></script>
    <script src="{% static 'assets/js/popovers-pages.js' %}"></script>
    <script src="{% static 'assets/js/go-live.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/touch.js' %}"></script>
    <script src="{% static 'assets/js/tour.js' %}"></script>
  </body>
</html>
